<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-store"/>
    <title>Cashier Calling System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            // Constantes
            const namespace = '/calling';
            // noinspection JSAnnotator
            const MI_GRUPO = {{ grupo }};
            // Variables
            let elem = document.documentElement;
            let message = new SpeechSynthesisUtterance();
            let voices = speechSynthesis.getVoices();
            let contexto;
            let canvas;
            let toques = 0;
            // Configuracion de Speech Synthesis
            message.voice = voices[10];
            message.voiceURI = 'native';
            message.volume = 1; // 0 to 1
            message.rate = 1; // 0.1 to 10
            message.pitch = 1; //0 to 2
            message.lang = 'es-US';
            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            let socket = io(namespace);
            // Evento que se dispara cuando se establece la conexión con el servidor (emitir)
            socket.on('connect', function () {
                socket.emit('navegador_conectado', {data: 'Hi from browser', grupo: MI_GRUPO});
            });
            // Evento que se dispara cuando se establece la conexión con el servidor (recibir)
            socket.on('servidor_conectado', function (msg, cb) {
                console.log('Servidor dice:', msg.data);
                if (cb)
                    cb();
            });
            // Evento que se dispara cuando el servidor llama a una caja
            socket.on('llamar', function (caja, cb) {
                console.log(caja.numero);
                if (caja.grupo == MI_GRUPO) {
                    let texto = 'Pase a la caja ' + caja.numero;
                    message.text = texto;
                    window.speechSynthesis.speak(message);
                    dibujar(caja);
                }
                if (cb)
                    cb();
            });
            // Funcion para dibujar el número
            function dibujar(caja) {
                let ancho = canvas.width;
                let alto = canvas.height;
                contexto.fillStyle = "#0F265C";
                contexto.textAlign = "center";
                contexto.font = "bold 300pt sans-serif";
                contexto.clearRect(0, 0, ancho, alto);
                contexto.fillText(caja.numero, ancho / 2, alto / 2 + 150);
            }
            // Mensaje de inicio para mostrar pantalla compelta y que funcione el audio
            function mensajeInicio() {
                if (toques < 2) {
                    canvas = document.getElementById("mi_canvas");
                    contexto = canvas.getContext("2d");
                    let ancho = canvas.width;
                    let alto = canvas.height;
                    contexto.fillStyle = "#0F265C";
                    contexto.font = "bold 20pt sans-serif";
                    contexto.clearRect(0, 0, ancho, alto);
                    contexto.strokeRect(2, 2, 298, 298);
                    if (toques == 0) {
                        contexto.fillText("Presione para iniciar", 10, 150);
                    } else {
                        contexto.fillText("Una vez más", 10, 150);
                    }
                    toques++;
                }
            }
            // Future: Función para dibujar la flecha.
            function canvas_arrow(context, fromx, fromy, tox, toy) {
                var headlen = 50; // length of head in pixels
                var dx = tox - fromx;
                var dy = toy - fromy;
                var angle = Math.atan2(dy, dx);
                context.moveTo(fromx, fromy);
                context.lineTo(tox, toy);
                context.lineTo(tox - headlen * Math.cos(angle - Math.PI / 6), toy - headlen * Math.sin(angle - Math.PI / 6));
                context.moveTo(tox, toy);
                context.lineTo(tox - headlen * Math.cos(angle + Math.PI / 6), toy - headlen * Math.sin(angle + Math.PI / 6));
            }
            // Maximiza la pantalla (Full Screen) y redimensiona el canvas
            function init() {
                try {
                    // Utilizar FullScreen
                    if (elem.requestFullscreen) {
                        elem.requestFullscreen();
                    } else if (elem.mozRequestFullScreen) { /* Firefox */
                        elem.mozRequestFullScreen();
                    } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
                        elem.webkitRequestFullscreen();
                    } else if (elem.msRequestFullscreen) { /* IE/Edge */
                        elem.msRequestFullscreen();
                    }
                } catch (e) {
                    console.log(e.toString());
                }

                // Redimensionar Canvas
                canvas.width = window.innerWidth - 5;
                canvas.height = window.innerHeight - 8;
            }
            // Cuando se toca el canvas
            $("#mi_canvas").click(function (e) {
                init();
                mensajeInicio();
            });
            // Muestra el mensaje de inicio en el canvas
            mensajeInicio();
        });

    </script>
</head>
<body style="background-color: #FFDD00">
<!-- style="border:1px solid #000000;" -->
<canvas id="mi_canvas" height="300" width="300">
    El navegador no soporta Canvas!!!
</canvas>
</body>
</html>